@import url(fonts.css);

.logo::before {
    content: url(../image/svg/logo-light.svg);
}

:root {
    --main-color: #7177F1;
    --second-color: #323232;
    --body: #fff;
    --dots: #828282;
}

body {
    background: var(--body);
    font-family: 'Montserrat';
}

.header__link {
    font-size: 24px;
    line-height: 16px;
    color: var(--main-color);
    text-transform: capitalize;
    margin-right: 30px;
}

.all-btn {
    background: var(--main-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: #fff;
}

.header__link-btn {
    width: 190px;
    text-align: center;
    padding: 10px 0;
    margin-right: 58px;
}

.menu-btn {
    width: 40px;
    height: 1px;
    background: var(--second-color);
    padding: 0;
    position: relative;
    border: none;
    transition: 0.3s;
}

.menu-btn::before,
.menu-btn::after {
    position: absolute;
    content: '';
    background: var(--second-color);
    width: 40px;
    height: 1px;
    top: -10px;
    left: 0;
    transition: 0.3s;
}

.menu-btn::after {
    top: 10px;
}

.menu-btn:focus {
    outline: none !important;
    box-shadow: none;
}

.menu-btn:not(.collapsed)::before {
    transform: rotate(45deg);
    top: 0;
}

.menu-btn:not(.collapsed)::after {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:not(.collapsed) {
    background: transparent;
}

.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    position: absolute;
    left: -81px;
    top: 32px;
    width: 70px;
    height: 60px;
    border: 5px solid #790FF1;
    border-radius: 50%;
    animation: animate 3s infinite linear alternate;
}

@keyframes animate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header__nav::after {
    content: '';
    position: absolute;
    right: -182px;
    top: 82px;
    width: 98px;
    height: 98px;
    border: 5px solid #9297EF;
    animation: animate 3s infinite linear alternate-reverse;
}

.header__content-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: var(--second-color);
    display: inline-block;
    margin-bottom: 10px;
}

.header__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: var(--main-color);
    margin-bottom: 25px;
}

.header__btn {
    text-decoration: none;
    padding: 12px 0;
    width: 299px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.header__bottom {
    padding-top: 28px;
    position: relative;
}

.header__content-desc {
    padding-top: 20px;
}

.header__icons-name {
    margin-top: 15px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main-color);
}

.slider__indicators {
    position: static;
    margin: 0;
    column-gap: 30px;
    margin-top: 50px;
}

.slider__pagination {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: 0 !important;
    opacity: 1 !important;

}

.slider__pagination.active {
    opacity: 1 !important;
    background: var(--main-color) !important;
}

.header__bottom::before {
    content: '';
    position: absolute;
    border: 5px solid #9297EF;
    width: 79.81px;
    height: 80.45px;

    animation: animate2 infinite 10s linear;
}

.header__bottom::after {
    content: '';
    position: absolute;
    border: 5px solid #9297EF;
    width: 79.81px;
    height: 80.45px;
    animation: animate3 infinite 8s linear;
}

@keyframes animate2 {
    0% {
        top: 50%;
        left: 0;
        transform: rotate(0);
    }

    25% {
        top: 0;
        left: 50%;
        transform: rotate(90deg);
    }

    50% {
        top: 50%;
        left: calc(100% - 79.81px);
        transform: rotate(0);
    }

    75% {
        left: 50%;
        top: calc(100% - 80.45px);
        transform: rotate(90deg);
    }

    100% {
        top: 50%;
        left: 0;
        transform: rotate(0);
    }
}

@keyframes animate3 {
    0% {
        top: 50%;
        right: 0;
        transform: rotate(0);
    }

    25% {
        top: 0;
        right: 50%;
        transform: rotate(90deg);
    }

    50% {
        top: 50%;
        right: calc(100% - 79.81px);
        transform: rotate(0);
    }

    75% {
        right: 50%;
        top: calc(100% - 80.45px);
        transform: rotate(90deg);
    }

    100% {
        top: 50%;
        right: 0;
        transform: rotate(0);
    }
}

.about__desc {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px;
}

.about {
    padding-top: 75px;
    position: relative;
}

.section-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-transform: capitalize;
    color: var(--main-color);
}

.about__title {
    margin-bottom: 25px;
}

.about__text {
    font-size: 18px;
    line-height: 150%;
    color: var(--second-color);
    margin-bottom: 20px;
}

.about__btn {
    width: 190px;
    margin-left: 80px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 0;
    font-size: 18px;
    line-height: 100%;
}

.about__img {
    position: relative;
}

.about__work {
    position: absolute;
    font-size: 18px;
    line-height: 100%;
    color: var(--second-color);
    padding: 23px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(-50%);
}

.about__work::before {
    position: absolute;
    content: '5+';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    font-style: italic;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: #0FDAC2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.about::before {
    position: absolute;
    content: url(../image/svg/figure_1.svg);
    top: -90%;
    right: 0;
    z-index: -1;
}

.about::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 5px solid #9297EF;
    width: 59.62px;
    height: 60.58px;
    animation: animate2 infinite 9s linear;
    z-index: -1;
}

.capabilities {
    padding-top: 75px;
}

.capabilities__title {
    margin-bottom: 30px;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--body);
}

.accordion-button {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    background: transparent !important;
    box-shadow: none !important;
    position: relative;
}

.accordion__item-name {
    margin-bottom: 0;
    margin-left: 20px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--main-color);
}

.accordion-item {
    background: transparent;
    border: none;
}

.accordion-button::after {
    display: none;
}

.close-icon {
    fill: #7177F1;
    margin-left: auto;
    transition: 0.3s;
}

.accordion-button:not(.collapsed) .close-icon {
    fill: #fff;
    transform: rotate(180deg);
}

.accordion-button::before {
    content: '';
    position: absolute;
    background: #DDDDDD;
    border-radius: 8px;
    width: 96%;
    height: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.accordion-item:nth-of-type(1) .accordion-button::before {
    display: none;
}

.accordion-button:not(.collapsed)::before {
    display: none;
}

.accordion-button:not(.collapsed) {
    background: #7177F1 !important;
}

.accordion__text {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #7177F1;
    padding: 25px 30px;
    margin-bottom: 0;
}

.accordion-body {
    padding: 0;
}

.accordion-button:not(.collapsed) .accordion__item-name {
    color: #fff;
}

.capabilities__img>img {
    width: 100%;
}

.my-work__img {
    min-height: 320px;
    height: 100%;
    overflow: hidden;
}

.my-work__img>img {
    height: 100%;
    max-width: 250px;
    max-height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.my-work {
    padding-top: 108px;
}

.my-work__title {
    text-align: center;
    margin-bottom: 30px;
}

.list-group {
    border-radius: 8px;
    background: var(--body);
}

.list-group-item {
    background: transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 19px 20px;
    color: var(--main-color);
    border: none;
}

.list-group-item.active {
    background: var(--main-color);
    color: var(--body);
}

.tab-content {
    padding: 20px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--body);
}

.tab-pane .my-work__title {
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.my-work__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--second-color);
    margin-bottom: 20px;
}

.my-work__btn {
    width: 190px;
    text-align: center;
    padding: 11px 0;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
}

.my-work__img {
    margin-right: 10px;
}

.my-work {
    position: relative;
}

.my-work::before {
    content: url(../image/svg/figure_2.svg);
    position: absolute;
    left: 0;
    top: -30%;
    z-index: -1;
}

.footer {
    padding-top: 200px;
    padding-bottom: 133px;
}

.footer__link {
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--main-color);
    text-decoration: none;
}